.cheathamLogo {
    position: relative;
    left: 40px;
    top: 20px;
    width: 50%;
}

.logo {
    float: left;
}

.cheathamPA{
    clear: both;
    display: inline;
    position: relative;
    left: 15px;
    bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
}

.consEngineers {
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    bottom: 5px;
    left: 17px;
    font-size: 24px;
}

nav {
position: relative;
    bottom: 32px;
    right: 30px;
}

.nav-item {
    
    font-family: 'Fira Sans', sans-serif;
}

.nav-link:hover a:after {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.redbar {
    height: 15px;
    background-color: #ce3939;
    position: relative;
    bottom: 30px;
}

/* --------------HomePage--------------- */

.carousel {
    position: relative;
    bottom: 30px;
}

#slide {
    width: 100%;
}

.carouselText {
    width: 500px;
    text-align: center;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    margin-top: -370px;
    margin-left: 25px;
    z-index: 1000;
    position: relative;
}

#carTextHeader {
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
}

#carTextBody {
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
}

#homePage {
    margin-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

#services {
    margin-top: 80px;
}

.services {
    /* background-color: #ce3939; */
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    }

/* ---------------------About Page-------------------- */

#aboutPage {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

/* -------------------Contact Page--------------------- */

#contactPage {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

#contactForm {
    width: 70%;
    margin: auto;
}

.contactGrid {
    margin-top: 50px;
}

/* -------------------Careers Page------------------------ */

#careersPage {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

#careersForm {
    width: 50%;
    margin: auto;
}

.applySubmit {
    margin-top: 10px;
}

/* ---------------------Engineers page------------------------ */

#engineersPage {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.profilePic {
    height: 120px;
    width: 120px;
}

/* ----------------services page------------------------------ */

#servicesPage {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}